<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="manat.ogasimli.org.manat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="org.ogasimli.manat.ManatApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <!-- Main Activity -->
        <activity
            android:name="org.ogasimli.manat.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Detail Activity -->
        <activity
            android:name="org.ogasimli.manat.ui.activity.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ogasimli.manat.ui.activity.MainActivity"/>
        </activity>

        <!-- Database content provider -->
        <provider
            android:name="org.ogasimli.manat.database.provigen.ManatContentProvider"
            android:authorities="org.ogasimli.manat" />

        <!-- IntentService class to save data into DB -->
        <service
            android:exported="false"
            android:name="org.ogasimli.manat.database.CurrencySaverIntentService"/>

        <!-- A service that extends FirebaseMessagingService to handle messages -->
        <service
            android:exported="false"
            android:name="org.ogasimli.manat.network.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- JobService to update currencies based on the FCM message -->
        <service android:name="org.ogasimli.manat.network.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <!-- Custom default icon meta-data for incoming notification messages -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />

        <!-- Custom color used with incoming notification messages -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/default_notification_channel_id"/>

        <!-- Google Play Services meta-data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Support for larger display formats -->
        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>

        <!-- Widget -->
        <receiver
            android:name="org.ogasimli.manat.widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.ogasimli.manat.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service
            android:name="org.ogasimli.manat.widget.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
    </application>

</manifest>
